@import'bootstrap/scss/bootstrap';
@import 'partials/common.scss';
@import'font-awesome/scss/font-awesome';

    
.header{
        justify-content:space-around ;
        display: flex;
        height: 15vh;
        ul {
            height:100%;
            align-self: center;
            display: flex;  
            justify-content: end 
            
        }
        
        li{
            list-style-type: none;
            padding: 0.5rem;
            text-transform: uppercase;
            font-size: 0.8rem;
            align-self: center;
            line-height: 12vh;
            a{
                text-decoration: none;
                
                color: black;
        
            }
        
            &:active,
            &.active{
                background-color: rgb(115, 212, 224);
                
                
            }
        }
    }
    .box{
        width: 100%;
        height: 300px;
        background-image: url('../images/jumbotron.jpg');
    }
.CardMenuBotton{
    background-color: rgb(27, 49, 240);
    height: 14vh;
    }
.jumbotron-bottom{
    margin-top: 8rem;
}
.price{
    width: 100%;
    background-color: greenyellow;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap{
    display: flex;
    justify-content: space-between;
    
}
.option {
    margin-left: 1rem;
    border-left: 2px solid black;
    h5{
        margin-left: 1rem;
    }
}
.info .series{
    color: blue;
}
.thumbnails{
    margin-top: 8rem;
    background-color: rgb(206, 203, 203);
}
.fumetto{
    position: relative;
}
.imgFumetto{
    position: absolute;
    top:25%;
    left: 20%;

}

.author{
    display: flex;
}
.wrapper{
    background-color: #303030e1;
    background-image: url('../images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }
    
    .dc-logo img{
    width: 90%;
    }
    .footer-bottom {
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    }
    .wrapper li {
        margin-bottom: .7rem;
        list-style-type: none;
    }
    .contacts-wrapper {
        height: 480px;
        color: white;
        display: flex;
        justify-content: space-evenly;
        padding-top: 1rem;
    }
    div a, div span {
    padding: .5rem;
    color: #2d39e2;
    
    }

    .social-media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .social-media button {
    padding: 0.7rem;
    border: 3px solid #3482ca;
    background-color: #666464e1;
    color: white;
    }

    .MenuTop{
    
    background-color: black;
    }
    
    .container{
    display: flex;
    flex-wrap: wrap;
    
    
    }
    